extends ../layout

block content

    a(href='/bicicletas') Volver
    br
    br
    br
    h1 Editar bicicleta
    br
    br

    form(action=`/bicicletas/${bici.id}/update`, method='post')

        label(for='id') ID:

        input#id(type='text', name='id', value=bici.id, required)

        br

        label(for='color') Color:

        select(name='color', id='', required)

            each val in ['--select--','Blanco' , 'Negro' , 'Rojo','Verde']

                option(selected= val === bici.color)=val

        //input#id(type='text' name='color', required)

        br

        label(for='modelo') Modelo:

        select(name='modelo', id='', required)

            each val in ['--select--','Ruta' , 'Cross' , 'Montian','Turismo']

                option(value=val, selected= val === bici.modelo)=val

        //input#id(type='text' name='modelo',required)

        br
        label(for='lat') Latitud:
        input#id(type='text' name='lat' value=bici.lat, required)
        br
        label(for='lng') Longitud:
        input#id(type='text' name='lng' value=bici.lng, required)
        br
        br
        input.btn(type='submit' name='OK' )